@keyframes headerShrink {
  0% {
    height: 100vh;
  }
  100% {
    height: var(--header-height);
  }
}

@keyframes tabSwitch {
  0% {
    transform: translateY(5px);
    opacity: 0;
  }
  25% {
    transform: translateY(-3px);
  }
  50% {
    transform: translateY(-0px);
  }
  75% {
    transform: translateY(-0.5px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes tabSwitchLeft {
  0% {
    transform: translate(5px, 5px);
    opacity: 0;
  }
  25% {
    transform: translateY(-3px, -3px);
  }
  50% {
    transform: translateY(-0px);
  }
  75% {
    transform: translateY(-0.5px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes tabSwitchRight {
  0% {
    transform: translate(5px, -5px);
    opacity: 0;
  }
  25% {
    transform: translateY(-3px, 3px);
  }
  50% {
    transform: translateY(-0px);
  }
  75% {
    transform: translateY(-0.5px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg) translateY(-8px);
  }
  50% {
    transform: rotate(-5deg);
  }
  75% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(0deg) translateY(0);
  }
}
