@keyframes headerShrink {
  0% {
    height: 100vh;
  }
  100% {
    height: var(--header-height);
  }
}

@keyframes tabSwitch {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg) translateY(-8px);
  }
  50% {
    transform: rotate(-5deg);
  }
  75% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(0deg) translateY(0);
  }
}
