// :root is the global parent element, similar to html, but with higher specificity
:root {
  // -- designated a custom property, which is inherited to all children, hence why we declared them in the :root
  --color-primary: #eb2f64;
  --color-primary-light: #ff3366;
  --color-primary-dark: #ba265d;

  --color-secondary: #faa300;
  --color-secondary-light: #ffbf00;
  --color-secondary-dark: #4b2801;

  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;

  --color-grey-dark-1: #222;
  --color-grey-dark-2: #333;
  --color-grey-dark-3: #777;
  --color-grey-dark-4: #999;

  --color-black: #111;

  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);

  --line: 1px solid var(--color-grey-light-2);
  --line: 1px solid var(--color-grey-dark-2);

  --default-font: 2.5rem;

  --header-height: 32.5rem;
} // -------------------------------------------------------------------------------------------------- Testing

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px, 10px / 16px = 62.5%
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;

  // Most basic level font, for all the paragraphs
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: normal;
  color: var(--color-grey-light-1);

  // Background of the whole page
  background: radial-gradient(
    var(--color-grey-light-1),
    var(--color-secondary-light),
    var(--color-secondary),
    var(--color-secondary-dark)
  );
  background-attachment: fixed;
}

::selection {
  color: var(--color-grey-light-1); // ------------------------ Testing
  background-color: var(--color-primary); // ------------------------ Testing
}
