* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px, 10px / 16px = 62.5%
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
}

::selection {
  color: var(--color-grey-light-1); // ------------------------ Testing
  background-color: var(
    --color-secondary-light
  ); // ------------------------ Testing
  text-shadow: none;
}
