* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px, 10px / 16px = 62.5%
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;

  // Most basic level font, for all the paragraphs
  font-family: 'Patrick Hand', cursive;
  font-weight: 400;
  line-height: normal;
  color: var(--color-grey-light-1);

  // Background of the whole page
  background: radial-gradient(
    var(--color-grey-light-1),
    var(--color-secondary-light),
    var(--color-secondary),
    var(--color-secondary-dark)
  );
  background-attachment: fixed;
}

::selection {
  color: var(--color-grey-light-1); // ------------------------ Testing
  background-color: var(
    --color-secondary-light
  ); // ------------------------ Testing
  text-shadow: none;
}
