// NAVIGATION BAR
.navigation {
  background-image: linear-gradient(
    to bottom,
    var(--color-black),
    var(--color-secondary-dark)
  );
  height: 8rem;

  display: flex;
  justify-content: center;

  &__tab {
    display: flex;
    flex: 1 0 33.3333333333%; // Grow but also take up a third of the nav

    z-index: 1;

    font-family: 'Overlock SC', cursive;
    font-size: 4rem;
    @include text-stroke(var(--color-secondary), 0.5px);
  }

  &__tab-button {
    display: flex;
    align-items: center;
    justify-content: center;

    // Because the border is pushing the text up, so we put some padding equal to the borders height
    padding-bottom: var(--nav-border);

    flex: 1; // Grow but also take up a third of the nav
    position: relative;

    z-index: 1;

    transition: all 0.45s;

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%; // So that it spans the entire width of the tab-button

      z-index: -1;

      // Initial animation state for tab buttons
      transition: height 0.35s cubic-bezier(1, -0.02, 0, 1),
        background-color 0.35s cubic-bezier(1, -0.02, 0, 1),
        border-top 0.35s cubic-bezier(0.215, 0.61, 0.355, 1);

      height: var(--nav-border);
      background-color: var(--color-grey-dark-2);
      border-top: var(--nav-border) solid var(--color-grey-dark-2);
      border-left: 1px solid var(--color-grey-dark-2);
      border-right: 1px solid var(--color-grey-dark-2);
    }
  }

  [type='radio'] {
    display: none;

    &:checked ~ .navigation__tab-button {
      // Ending animation state for the text
      padding-bottom: 0.8rem;
      font-size: 1.1em;
      @include text-stroke(var(--color-secondary-dark), 5px);
    }

    &:checked ~ .navigation__tab-button:after {
      // Ending animation state for tab buttons
      height: 100%;
      background-color: var(--color-grey-dark-1);
      border-top: var(--line-thick-grey);
    }

    &:not(:checked) ~ .navigation__tab-button:hover {
      &:after {
        border-top: var(--line-thick-secondary);
      }
    }
  }
}

// TITLE
.title {
  &__logo-box {
    // It is based on .header fixed position
    @include absolute-center(50%, 50%);

    background-image: radial-gradient(
      var(--color-primary-light),
      var(--color-primary-dark)
    );

    // This is so that the height and width are always the same and scaled to whatever the --header-height is, and will have a small percentage of it clipped outside of the header itself
    height: calc(
      var(--header-height) + (0.133333333333 * var(--header-height))
    ); // ------------------------ Testing
    width: calc(
      var(--header-height) + (0.133333333333 * var(--header-height))
    ); // ------------------------ Testing

    border-radius: 50%; // Circle shaped

    box-shadow: var(--shadow-dark);
  }

  &__text-box {
    width: 100%;
    // It is based on .header fixed position
    @include absolute-center(50%, 50%);
    background-color: transparent;
  }

  &__logo {
    fill: royalblue; // TESTING TESTING TESTING
  }
}

// QUOTE
.quote {
  color: var(--color-black);
  font-family: 'Overlock SC', cursive;
  font-size: 5rem;
  letter-spacing: 0.001rem;
  justify-self: center;
  margin: 0.75rem 0;

  &--person {
    font-size: 2.5rem;
  }
}

// WORK
.work {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;

  &__container {
    background-image: linear-gradient(var(--color-secondary-dark), transparent);
    display: inline-block;
    flex: 0 0 40%;
    margin: 3rem 0;
  }
}

.social-link {
  &__logo {
    height: 15rem;
  }
}
