.navigation {
  background-color: var(--color-black);
  height: 8rem;
  box-shadow: var(--shadow-dark);

  display: flex;
}

.title {
  &__logo-box {
    // It is based on .header fixed position
    @include absolute-center(50%, 50%);

    background-image: radial-gradient(
      var(--color-primary-light),
      var(--color-primary-dark)
    );

    height: calc(
      var(--header-height) + (0.133333333333 * var(--header-height))
    ); // ------------------------ Testing
    width: calc(
      var(--header-height) + (0.133333333333 * var(--header-height))
    ); // ------------------------ Testing

    border-radius: 50%; // Circle shaped

    box-shadow: var(--shadow-dark);
  }

  &__text-box {
    width: 100%;
    // It is based on .header fixed position
    @include absolute-center(50%, 50%);
    background-color: transparent;
  }
}
