.navigation {
  background-color: var(--color-black);
  height: 8rem;

  display: flex;
  justify-content: center;

  &__tab {
    display: flex;
    flex: 1 0 33.3333333333%; // Grow but also take up a third of the nav
    font-family: 'Overlock SC', cursive;
    font-size: 4rem;

    z-index: 1;
  }

  &__tab-button {
    display: flex;
    align-items: center;
    justify-content: center;

    flex: 1; // Grow but also take up a third of the nav
    position: relative;

    z-index: 1;

    transition: all 0.45s;

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%; // So that it spans the entire width of the tab-button

      z-index: -1;

      // Initial animation state for tab buttons
      transition: height 0.35s cubic-bezier(1, -0.02, 0, 1),
        background-color 0.35s cubic-bezier(1, -0.02, 0, 1);
      height: 1px;
      background-color: var(--color-grey-dark-2);
    }
  }

  [type='radio'] {
    display: none;

    &:checked ~ .navigation__tab-button {
      // Ending animation state for the text
      padding-bottom: 0.8rem;
    }

    &:checked ~ .navigation__tab-button:after {
      // Ending animation state for tab buttons
      height: 100%;
      background-color: var(--color-grey-dark-1);
    }
  }
}

// TITLE
.title {
  &__logo-box {
    // It is based on .header fixed position
    @include absolute-center(50%, 50%);

    background-image: radial-gradient(
      var(--color-primary-light),
      var(--color-primary-dark)
    );

    height: calc(
      var(--header-height) + (0.133333333333 * var(--header-height))
    ); // ------------------------ Testing
    width: calc(
      var(--header-height) + (0.133333333333 * var(--header-height))
    ); // ------------------------ Testing

    border-radius: 50%; // Circle shaped

    box-shadow: var(--shadow-dark);
  }

  &__text-box {
    width: 100%;
    // It is based on .header fixed position
    @include absolute-center(50%, 50%);
    background-color: transparent;
  }
}
