.header {
  height: var(--header-height); // ------------------------ Testing
  width: 100%;

  // So that the header is stuck to the top while the rest of the page scrolls over it
  position: relative;

  // So the rest of the page scrolls over the header
  z-index: -1;
}

.content {
  background-color: var(--color-grey-dark-1);

  // For the navbar placement
  display: flex;
  flex-direction: column;

  padding: 4rem 25% 5rem 25%;
}

.footer {
  background-color: var(--color-black);
  color: var(--color-grey-dark-4);
  font-size: 1.4rem;
  height: 6rem;
  box-shadow: var(--shadow-dark); // ------------------------ Testing

  display: flex;
  justify-content: center;
  align-items: center;
}
