.header {
  height: var(--header-height); // ------------------------ Testing
  width: 100%;

  // So that the header is stuck to the top while the rest of the page scrolls over it
  position: relative;

  // So the rest of the page scrolls over the header
  z-index: -1;
}

.content {
  background-color: var(--color-grey-dark-2t);

  // For the navbar placement
  display: flex;
  flex-direction: column;

  padding: 4rem 55rem;
}

.footer {
  background-color: var(
    --color-grey-dark-1
  ); // ------------------------ Testing
}
