.header {
  height: var(--header-height); // ------------------------ Testing
  width: 100%;

  // So that the header is stuck to the top while the rest of the page scrolls over it
  position: relative;

  // So the rest of the page scrolls over the header
  z-index: -1;

  transition: 1s height;
}

.content {
  background-color: var(--color-grey-dark-1);

  background-image: linear-gradient(
    to bottom,
    var(--color-grey-dark-1),
    var(--color-secondary-dark)
  );

  // For the navbar placement
  display: flex;
  flex-direction: column;

  padding: 3.5rem 25% 7.5rem 25%;
  position: relative;
}

.footer {
  position: relative;

  &__copyright {
    background-color: var(--color-black);
    color: var(--color-grey-dark-4);
    font-size: 1.4rem;

    padding: 3rem 0;
    box-shadow: var(--shadow-dark); // ------------------------ Testing

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__skyline {
    margin-bottom: -5px;
  }
}

.quotes {
  margin: 4rem 0 0 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}
