// This mixin takes in arguments and will result in text with a gradient coloring
@mixin text-gradient($direction, $colorOne, $colorTwo) {
  background-image: linear-gradient($direction, $colorOne, $colorTwo);
  background-clip: text;
  color: transparent;
}

@mixin absolute-center($top: 50%, $left: 50%) {
  position: absolute;
  top: $top;
  left: $left;
  transform: translate(-50%, -50%);
}

@mixin text-stroke($stroke: #000, $width: 1px) {
  // Sass variables must be used for changing a parameter value, such as using $width for negative values as well
  text-shadow: -#{$width} -#{$width} 0 $stroke, $width -#{$width} 0 $stroke,
    -#{$width} $width 0 $stroke, $width $width 0 $stroke;
}
