.heading-primary {
  // Main heading font (might become an image later on)
  font-family: 'Bowlby One SC', cursive;
  letter-spacing: 1.5rem;
  color: var(--color-grey-dark-1);

  text-align: center;

  @include text-stroke(var(--color-grey-light-1), 1.5px);

  &--main {
    font-size: 8rem;
    display: block; // So that the main and sub text appear on top of one another

    text-transform: uppercase;
  }

  &--sub {
    font-size: 3rem;
  }
}

.heading-secondary {
  // Secondary heading font
  font-family: 'Overlock SC', cursive;
  color: var(--color-grey-light-3);
  font-size: 5rem;

  @include text-stroke(var(--color-grey-dark-1), 1.5px);

  text-align: center;
}

.paragraph {
  font-size: var(--default-font);
}
