// Nothing here should affect anything other than the normal font properties

.heading-primary {
  // Main heading font (might become an image later on)
  font-family: 'Bowlby One SC', cursive;
  letter-spacing: 1.5rem;
  color: var(--color-grey-dark-1);
  text-shadow: var(--shadow-dark);

  text-align: center;

  @include text-stroke(var(--color-grey-light-1), 1.5px);

  &--main {
    font-size: 10rem;
    display: block; // So that the main and sub text appear on top of one another

    text-transform: uppercase;
  }

  &--sub {
    font-size: 4rem;
  }
}

.heading-secondary {
  // Secondary heading font
  font-family: 'Overlock SC', cursive;
  color: var(--color-grey-light-3);
  font-size: 5rem;

  @include text-stroke(var(--color-grey-dark-1), 1.5px);

  text-align: center;
}

.paragraph {
  font-size: var(--default-font);
  text-align: center;
  line-height: 3.75rem;
  letter-spacing: 0.3rem;

  &--lined {
    border-radius: 5%;
    border-top: var(--line-secondary);
    border-bottom: var(--line-secondary);
    padding: 1.75rem 4.5rem;
  }
}

.emphasis {
  color: var(--color-secondary);
  font-size: 1.2em; // Em is based off the parent, so making 20% larger
  line-height: 0.8em; // Em is based off the parent, so making 20% smaller

  // Not sure if I'll keep this...
  @include text-stroke(var(--color-secondary-dark), 1.5px);
}
