.u-overlay {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 191, 0, 0.05);
}

.u-neg-margin-bottom-tiny {
  margin-bottom: -1px;
}

.u-margin-bottom-small {
  margin-bottom: 1rem;
}
.u-margin-bottom-medium {
  margin-bottom: 2rem;
}
.u-margin-bottom-large {
  margin-bottom: 4rem;
}

.u-unselectable {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.u-spacer {
  width: 0;
  visibility: hidden;
}

.social-logo {
  fill: blue;
}
