// :root is the global parent element, similar to html, but with higher specificity
:root {
  // -- designated a custom property, which is inherited to all children, hence why we declared them in the :root
  --color-primary: #eb2f64;
  --color-primary-light: #ff3366;
  --color-primary-dark: #ba265d;

  --color-secondary: #faa300;
  --color-secondary-light: #ffbf00;
  --color-secondary-dark: #201100;

  --color-tertiary: #3178eb;
  --color-tertiary-light: #54afff;
  --color-tertiary-dark: #091324;

  --color-grey-light-1: #f9f9fa;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;

  --color-grey-dark-1: #111;
  --color-grey-dark-2: #222;
  --color-grey-dark-3: #333;
  --color-grey-dark-4: #777;
  --color-grey-dark-5: #999;

  --color-black: #000;

  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);

  --nav-border: 4px;
  --line-thick-grey: 4px solid var(--color-grey-dark-2);
  --line-thick-secondary: 4px solid var(--color-secondary);
  --line-secondary: 3px solid var(--color-secondary);

  --default-font: 2.5rem;
  --secondary-header-font: 5rem;

  --header-height: 37.5rem;
} // -------------------------------------------------------------------------------------------------- Testing
