:root {
  --color-primary: #eb2f64;
  --color-primary-light: #ff3366;
  --color-primary-dark: #ba265d;
  --color-secondary: #faa300;
  --color-secondary-light: #ffbf00;
  --color-secondary-dark: #201100;
  --color-tertiary: #3178eb;
  --color-tertiary-light: #54afff;
  --color-tertiary-dark: #091324;
  --color-grey-light-1: #f9f9fa;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #111;
  --color-grey-dark-2: #222;
  --color-grey-dark-3: #333;
  --color-grey-dark-4: #777;
  --color-grey-dark-5: #999;
  --color-black: #000;
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --nav-border: 4px;
  --line-thick-grey: 4px solid var(--color-grey-dark-2);
  --line-thick-secondary: 4px solid var(--color-secondary);
  --line-secondary: 3px solid var(--color-secondary);
  --default-font: 2.5rem;
  --secondary-header-font: 5rem;
  --header-height: 37.5rem; }

* {
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

*,
*::before,
*::after {
  box-sizing: inherit; }

body {
  min-height: 100vh;
  font-family: 'Patrick Hand', cursive;
  font-weight: 400;
  line-height: normal;
  color: var(--color-grey-light-1);
  background: radial-gradient(var(--color-grey-light-1), var(--color-secondary-light), var(--color-secondary), var(--color-secondary-dark));
  background-attachment: fixed; }

::selection {
  color: var(--color-grey-light-1);
  background-color: var(--color-secondary-light);
  text-shadow: none; }

@keyframes headerShrink {
  0% {
    height: 100vh; }
  100% {
    height: var(--header-height); } }

.u-overlay {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 191, 0, 0.05); }

.u-neg-margin-bottom-tiny {
  margin-bottom: -1px; }

.u-margin-bottom-small {
  margin-bottom: 1rem; }

.u-margin-bottom-medium {
  margin-bottom: 2rem; }

.u-margin-bottom-large {
  margin-bottom: 4rem; }

.u-unselectable {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */ }

.u-spacer {
  width: 0;
  visibility: hidden; }

.heading-primary {
  font-family: 'Bowlby One SC', cursive;
  letter-spacing: 1.5rem;
  color: var(--color-grey-dark-1);
  text-shadow: var(--shadow-dark);
  text-align: center;
  text-shadow: -1.5px -1.5px 0 var(--color-grey-light-1), 1.5px -1.5px 0 var(--color-grey-light-1), -1.5px 1.5px 0 var(--color-grey-light-1), 1.5px 1.5px 0 var(--color-grey-light-1); }
  .heading-primary--main {
    font-size: 10rem;
    display: block;
    text-transform: uppercase; }
  .heading-primary--sub {
    font-size: 4rem; }

.heading-secondary {
  font-family: 'Overlock SC', cursive;
  color: var(--color-grey-light-3);
  font-size: 5rem;
  text-shadow: -1.5px -1.5px 0 var(--color-grey-dark-1), 1.5px -1.5px 0 var(--color-grey-dark-1), -1.5px 1.5px 0 var(--color-grey-dark-1), 1.5px 1.5px 0 var(--color-grey-dark-1);
  text-align: center; }

.paragraph {
  font-size: var(--default-font);
  text-align: center;
  line-height: 3.75rem;
  letter-spacing: 0.3rem; }
  .paragraph--lined {
    border-radius: 5%;
    border-top: var(--line-secondary);
    border-bottom: var(--line-secondary);
    padding: 1.75rem 4.5rem; }

.emphasis {
  color: var(--color-secondary);
  font-size: 1.2em;
  line-height: 0.8em;
  text-shadow: -1.5px -1.5px 0 var(--color-secondary-dark), 1.5px -1.5px 0 var(--color-secondary-dark), -1.5px 1.5px 0 var(--color-secondary-dark), 1.5px 1.5px 0 var(--color-secondary-dark); }

.header {
  height: var(--header-height);
  width: 100%;
  position: relative;
  z-index: -1;
  animation: 1s cubic-bezier(1, 0.01, 0.4, 1.28) 0s 1 headerShrink; }

.content {
  background-color: var(--color-grey-dark-1);
  background-image: linear-gradient(to bottom, var(--color-grey-dark-1), var(--color-secondary-dark));
  display: flex;
  flex-direction: column;
  position: relative; }

.footer {
  position: relative; }
  .footer__skyline {
    margin-bottom: -5px; }
  .footer__contents {
    background-color: var(--color-black);
    color: var(--color-grey-dark-4);
    font-size: 1.4rem;
    padding: 3rem 5rem;
    box-shadow: var(--shadow-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all 0.5s; }
  .footer__copyright {
    align-self: center; }
  .footer__github {
    position: absolute;
    right: 2rem;
    bottom: 1rem; }
    .footer__github:hover {
      transform: translateY(-1px) scale(1.025);
      filter: brightness(35); }
    .footer__github:active, .footer__github:focus {
      transform: translateY(0) scale(1); }
  .footer__svg {
    height: 2.5rem;
    width: 2.5rem;
    filter: invert(0.75); }

.quotes {
  margin: 4rem 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center; }

.home {
  padding: 3.5rem 25% 7.5rem 25%; }

.creators {
  padding: 3.5rem 15% 7.5rem 15%; }

.socials {
  padding: 3.5rem 25% 7.5rem 25%; }
  .socials .social-container {
    display: flex;
    justify-content: space-between;
    padding: 4rem 3rem; }

.navigation {
  background-image: linear-gradient(to bottom, var(--color-black), var(--color-secondary-dark));
  height: 8rem;
  display: flex;
  justify-content: center; }
  .navigation__tab {
    display: flex;
    flex: 1 0 33.3333333333%;
    z-index: 1;
    font-family: 'Overlock SC', cursive;
    font-size: 4rem;
    text-shadow: -0.5px -0.5px 0 var(--color-secondary), 0.5px -0.5px 0 var(--color-secondary), -0.5px 0.5px 0 var(--color-secondary), 0.5px 0.5px 0 var(--color-secondary); }
  .navigation__tab-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: var(--nav-border);
    flex: 1;
    position: relative;
    z-index: 1;
    transition: all 0.45s; }
    .navigation__tab-button:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      z-index: -1;
      transition: height 0.35s cubic-bezier(1, -0.02, 0, 1), background-color 0.35s cubic-bezier(1, -0.02, 0, 1), border-top 0.35s cubic-bezier(0.215, 0.61, 0.355, 1);
      height: var(--nav-border);
      background-color: var(--color-grey-dark-2);
      border-top: var(--nav-border) solid var(--color-grey-dark-2);
      border-left: 1px solid var(--color-grey-dark-2);
      border-right: 1px solid var(--color-grey-dark-2); }
  .navigation [type='radio'] {
    display: none; }
    .navigation [type='radio']:checked ~ .navigation__tab-button {
      padding-bottom: 0.8rem;
      font-size: 1.1em;
      text-shadow: -5px -5px 0 var(--color-secondary-dark), 5px -5px 0 var(--color-secondary-dark), -5px 5px 0 var(--color-secondary-dark), 5px 5px 0 var(--color-secondary-dark); }
    .navigation [type='radio']:checked ~ .navigation__tab-button:after {
      height: 100%;
      background-color: var(--color-grey-dark-1);
      border-top: var(--line-thick-grey); }
    .navigation [type='radio']:not(:checked) ~ .navigation__tab-button:hover:after {
      border-top: var(--line-thick-secondary); }

.title__logo-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: radial-gradient(var(--color-primary-light), var(--color-primary-dark));
  height: calc( var(--header-height) + (0.133333333333 * var(--header-height)));
  width: calc( var(--header-height) + (0.133333333333 * var(--header-height)));
  border-radius: 50%;
  box-shadow: var(--shadow-dark); }

.title__text-box {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent; }

.title__logo {
  fill: royalblue; }

.quote {
  color: var(--color-black);
  font-family: 'Overlock SC', cursive;
  font-size: 5rem;
  letter-spacing: 0.001rem;
  justify-self: center;
  margin: 0.75rem 0; }
  .quote--person {
    font-size: 2.5rem; }

.work {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap; }
  .work__container {
    background-image: linear-gradient(var(--color-secondary-dark), transparent);
    display: inline-block;
    flex: 0 0 40%;
    margin: 3rem 0; }

.social-link__logo {
  height: 15rem; }

/*
    COLORS

    Primary: #eb2f64
    Primary light: #FF3366
    Primary dark: #BA265D

    Grey light 1: #faf9f9
    Grey light 2: #f4f2f2
    Grey light 3: #f0eeee
    Grey light 4: #ccc

    Grey dark 1: #333
    Grey dark 2: #777
    Grey dark 3: #999
 */
