:root {
  --color-primary: #eb2f64;
  --color-primary-light: #ff3366;
  --color-primary-dark: #ba265d;
  --color-secondary: #faa300;
  --color-secondary-light: #ffbf00;
  --color-secondary-dark: #4b2801;
  --color-grey-light-1: #f9f9fa;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #222;
  --color-grey-dark-2: #333;
  --color-grey-dark-3: #777;
  --color-grey-dark-4: #999;
  --color-black: #111;
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --line-thick-grey: 6px solid var(--color-grey-dark-2);
  --line-secondary: 3px solid var(--color-secondary);
  --default-font: 2.5rem;
  --secondary-header-font: 5rem;
  --header-height: 32.5rem; }

* {
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

*,
*::before,
*::after {
  box-sizing: inherit; }

body {
  min-height: 100vh;
  font-family: 'Patrick Hand', cursive;
  font-weight: 400;
  line-height: normal;
  color: var(--color-grey-light-1);
  background: radial-gradient(var(--color-grey-light-1), var(--color-secondary-light), var(--color-secondary), var(--color-secondary-dark));
  background-attachment: fixed; }

::selection {
  color: var(--color-secondary-dark);
  background-color: var(--color-secondary-light); }

.u-overlay {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 191, 0, 0.05); }

.u-neg-margin-bottom-tiny {
  margin-bottom: -1px; }

.u-margin-bottom-small {
  margin-bottom: 1rem; }

.u-margin-bottom-medium {
  margin-bottom: 2rem; }

.u-margin-bottom-large {
  margin-bottom: 4rem; }

.heading-primary {
  font-family: 'Bowlby One SC', cursive;
  letter-spacing: 1.5rem;
  color: var(--color-grey-dark-1);
  text-shadow: var(--shadow-dark);
  text-align: center;
  text-shadow: -1.5px -1.5px 0 var(--color-grey-light-1), 1.5px -1.5px 0 var(--color-grey-light-1), -1.5px 1.5px 0 var(--color-grey-light-1), 1.5px 1.5px 0 var(--color-grey-light-1); }
  .heading-primary--main {
    font-size: 10rem;
    display: block;
    text-transform: uppercase; }
  .heading-primary--sub {
    font-size: 4rem; }

.heading-secondary {
  font-family: 'Overlock SC', cursive;
  color: var(--color-grey-light-3);
  font-size: 5rem;
  text-shadow: -1.5px -1.5px 0 var(--color-grey-dark-1), 1.5px -1.5px 0 var(--color-grey-dark-1), -1.5px 1.5px 0 var(--color-grey-dark-1), 1.5px 1.5px 0 var(--color-grey-dark-1);
  text-align: center; }

.paragraph {
  font-size: var(--default-font);
  text-align: center;
  line-height: 3.75rem; }
  .paragraph--lined {
    border-radius: 5%;
    border-top: var(--line-secondary);
    border-bottom: var(--line-secondary);
    padding: 1.75rem 4.5rem; }

.emphasis {
  display: inline-block;
  color: var(--color-secondary);
  font-size: 1.2em;
  line-height: 0.8em;
  transform: rotate(5deg);
  text-shadow: -1.5px -1.5px 0 var(--color-secondary-dark), 1.5px -1.5px 0 var(--color-secondary-dark), -1.5px 1.5px 0 var(--color-secondary-dark), 1.5px 1.5px 0 var(--color-secondary-dark); }

.header {
  height: var(--header-height);
  width: 100%;
  position: relative;
  z-index: -1; }

.content {
  background-color: var(--color-grey-dark-1);
  background-image: linear-gradient(to bottom, var(--color-grey-dark-1), var(--color-black));
  display: flex;
  flex-direction: column;
  padding: 3.5rem 25%; }

.footer {
  background-color: var(--color-black);
  color: var(--color-grey-dark-4);
  font-size: 1.4rem;
  padding: 3rem 0;
  box-shadow: var(--shadow-dark);
  display: flex;
  justify-content: center;
  align-items: center; }

.navigation {
  background-color: var(--color-black);
  height: 8rem;
  display: flex;
  justify-content: center; }
  .navigation__tab {
    display: flex;
    flex: 1 0 33.3333333333%;
    z-index: 1;
    font-family: 'Overlock SC', cursive;
    font-size: 4rem;
    text-shadow: -3px -3px 0 var(--color-secondary-dark), 3px -3px 0 var(--color-secondary-dark), -3px 3px 0 var(--color-secondary-dark), 3px 3px 0 var(--color-secondary-dark); }
  .navigation__tab-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    position: relative;
    z-index: 1;
    transition: all 0.45s; }
    .navigation__tab-button:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      z-index: -1;
      transition: height 0.35s cubic-bezier(1, -0.02, 0, 1), background-color 0.35s cubic-bezier(1, -0.02, 0, 1), border-top 0.35s cubic-bezier(0.215, 0.61, 0.355, 1);
      height: 6px;
      background-color: var(--color-grey-dark-2);
      border-top: 6px solid var(--color-grey-dark-2); }
  .navigation [type='radio'] {
    display: none; }
    .navigation [type='radio']:checked ~ .navigation__tab-button {
      padding-bottom: 0.8rem;
      text-shadow: -5px -5px 0 var(--color-secondary-dark), 5px -5px 0 var(--color-secondary-dark), -5px 5px 0 var(--color-secondary-dark), 5px 5px 0 var(--color-secondary-dark); }
    .navigation [type='radio']:checked ~ .navigation__tab-button:after {
      height: 100%;
      background-color: var(--color-grey-dark-1);
      border-top: var(--line-thick-grey); }

.title__logo-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: radial-gradient(var(--color-primary-light), var(--color-primary-dark));
  height: calc( var(--header-height) + (0.133333333333 * var(--header-height)));
  width: calc( var(--header-height) + (0.133333333333 * var(--header-height)));
  border-radius: 50%;
  box-shadow: var(--shadow-dark); }

.title__text-box {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent; }

/*
    COLORS

    Primary: #eb2f64
    Primary light: #FF3366
    Primary dark: #BA265D

    Grey light 1: #faf9f9
    Grey light 2: #f4f2f2
    Grey light 3: #f0eeee
    Grey light 4: #ccc

    Grey dark 1: #333
    Grey dark 2: #777
    Grey dark 3: #999
 */
